.about-us {
  background: url("../img/svg/G.svg") no-repeat 50% 50%, url("../img/back-knive.jpg") no-repeat 100% /100%;
  padding: 120px 0 136px 0;
  position: relative;
  top: 0;
  left: 0;

  @include big-tablet {
    background: url("../img/back-knive.jpg") no-repeat;
  }

  @include tablet {
    background: url("../img/back-knive.jpg") no-repeat;
    padding: 0 0;
  }

  @include big-mobile {
    margin: 30px 0;
  }


  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;

    @include big-mobile {
      flex-direction: column;
    }
  }

  &__img {
    @include big-mobile {
      display: none;
    }
  }

  &__img img {
    width: 83px;
    height: 703px;
  }

  .info {
    &__subtitle {
      font-size: 64px;
      font-weight: 600;
      line-height: 130%;
      letter-spacing: 1.92px;
      color: var(--title-color);
      position: relative;
      top: 0;
      right: 0;

      @include little-tablet {
        font-size: 40px;
      }
    }

    &__subtitle-right::before {
      content: " ";
      display: block;
      background: url("../img/svg/line.svg") no-repeat;
      width: 40px;
      height: 9px;
      position: absolute;
      top: 100%;
      left: 0;
    }

    &__subtitle-left::before {
      content: " ";
      display: block;
      background: url("../img/svg/line.svg") no-repeat;
      width: 40px;
      height: 9px;
      position: absolute;
      top: 100%;
      right: 0;
      transform: rotate(-180deg);
    }

    &__text {
      font-family: var(--second-family);
      font-size: 16px;
      font-weight: 400;
      line-height: 175%;
      letter-spacing: 0.64px;
      padding-top: 49px;
      padding-bottom: 40px;
      max-width: 535px;

      @include big-mobile {
        max-width: 200px;
      }

    }
  }

  .info-right {
    padding-left: 96px;
    text-align: left;

    @include small-tablet {
      padding-left: 33px;
    }

    @include big-mobile {
      margin: 30px 0;
    }
  }

  .info-left {
    padding-right: 74px;
    text-align: right;

    @include small-tablet {
      padding-right: 34px;
    }

    @include big-mobile {
      margin-bottom: 30px;
    }
  }
}

.about-us::before {
  content: " ";
  display: block;
  background: url("../img/decor/reserv1.svg") 0 0/100% no-repeat;
  width: 1920px;
  height: 10984px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.about-us::after {
  content: " ";
  display: block;
  background: url("../img/decor/reserv2.svg") 0 0/100% no-repeat;
  width: 560px;
  height: 10694px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.about-us img {
  object-fit: contain;
}
