<section class="about-us-bar" id="about-us-bar">
  <div class="container">
    <div class="about-us-bar-inner">
      <div class="about-us-bar-img">
        <img src="img/bar-beer.jpg" alt="beer">
      </div>
      <div class="about-us-bar-info">
        <img class="photo" src="img/bar-viskey.jpg" alt="viskey">
        <div class="subtitle">About Us</div>
        <div class="title">Food, Drinks, entertainment in one</div>
        <div class="text">Adipiscing tempus ullamcorper lobortis odio tellus arcu volutpat. Risus placerat morbi volutpat
          habitasse interdum mi aliquam In sed odio nec aliquet.</div>
        <a href="#" class="btn">Know More</a>
      </div>
    </div>
  </div>
</section>
