<section class="about-us">
  <div class="container">
    <div class="about-us__inner">
      <div class="info info-left">
        <h2 class="info__subtitle info__subtitle-left">About Us</h2>
        <p class="info__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis pharetra adipiscing ultrices
          vulputate posuere tristique. In sed odio nec aliquet eu proin mauris et.</p>
        <a class="btn" href="#chef">Know More</a>
      </div>
      <div class="about-us__img"><img src="./img/knive.png" alt=""></div>
      <div class="info info-right">
        <h2 class="info__subtitle info__subtitle-right">Our History</h2>
        <div class="info__text">Adipiscing tempus ullamcorper lobortis odio tellus arcu volutpat. Risus placerat morbi volutpat
          habitasse interdum mi aliquam In sed odio nec aliquet.</div>
        <a class="btn" href="#testimonials">Know More</a>
      </div>
    </div>
  </div>
</section>
