<section class="awards">
  <div class="container">
    <div class="awards__inner">
      <div class="awards__info">
        <div class="awards__subtitle">Awards & recognition</div>
        <div class="awards__title">Our Laurels</div>
        <div class="awards__wrapper">
          <div class="wrapper__item wrapper__item-1">
            <div class="title">Bib Gourmond</div>
            <div class="text">Lorem ipsum dolor sit amet, consectetur.</div>
          </div>
          <div class="wrapper__item wrapper__item-2">
            <div class="title">Rising Star</div>
            <div class="text">Lorem ipsum dolor sit amet, consectetur.</div>
          </div>
        </div>
        <div class="awards__wrapper">
          <div class="wrapper__item wrapper__item-3">
            <div class="title">AA Hospitality </div>
            <div class="text">Lorem ipsum dolor sit amet, consectetur.</div>
          </div>
          <div class="wrapper__item wrapper__item-4">
            <div class="title">Outstanding Chef</div>
            <div class="text">Lorem ipsum dolor sit amet, consectetur.</div>
          </div>
        </div>
      </div>
      <div class="awards__img">
        <img src="img/block-award.jpg" alt="award-food">
      </div>
    </div>
  </div>
</section>
