<section class="blog" id="blog">
  <div class="container">
    <div class="blog__inner">
      <div class="blog__subtitle">Blogs</div>
      <div class="blog__title">Gerícht updates</div>
      <div class="wrapper">
        <div class="wrapper__item">
          <div class="wrapper__img"><img src="img/blog1.jpg" alt="meet"></div>
          <div class="date-name">
            <div class="date-name__date">16 Apr 2021</div>
            <div class="date-name__name">- Annalisa L</div>
          </div>
          <div class="title">tips for prepping and caring for your grill</div>
          <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Volutpat mattis ipsum turpis elit
            elit scelerisque egestas mus in.</div>
          <a href="#" class="button">Read More</a>
        </div>
        <div class="wrapper__item">
          <div class="wrapper__img"><img src="img/blog2.jpg" alt="meet"></div>
          <div class="date-name">
            <div class="date-name__date">23 May 2021</div>
            <div class="date-name__name">-John Micheal</div>
          </div>
          <div class="title">summer cocktails and mocktails</div>
          <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Volutpat mattis ipsum turpis elit
            elit scelerisque egestas mus in.</div>
          <a href="#" class="button">Read More</a>
        </div>
        <div class="wrapper__item">
          <div class="wrapper__img"><img src="img/blog3.jpg" alt="meet"></div>
          <div class="date-name">
            <div class="date-name__date">06 Aug 2021</div>
            <div class="date-name__name">-Fred W</div>
          </div>
          <div class="title">easy cooking for college students</div>
          <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Volutpat mattis ipsum turpis elit
            elit scelerisque egestas mus in.</div>
          <a href="#" class="button">Read More</a>
        </div>
      </div>
      <div class="btn">View More</div>
    </div>
  </div>
</section>
