<section class="chef" id="chef">
  <div class="container">
    <div class="chef__inner">
      <div class="chef__swap swap">
        <div class="swiper mySwiper">
          <div class="swiper-wrapper">
            <div data-hash="slide-1" class="swiper-slide"><img src="img/chef.jpg" alt="chef">
            </div>
            <div data-hash="slide-2" class="swiper-slide"><img src="img/cook.jpg" alt="chef">
            </div>
          </div>
        </div>
      </div>
      <div class="chef__info">
        <div class="subtitle">Chef’s Word</div>
        <div class="title">What we believe in</div>
        <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit auctor sit .auctor sit iaculis in
          arcu. Vulputate nulla lobortis mauris eget sit. Nulla scelerisque scelerisque congue ac consequat, aliquam
          molestie lectus eu. Congue iaculis integer curabitur semper sit nunc.</div>
        <div class="name">Kevin Luo</div>
        <div class="job-title">Chef & Founder</div>
        <div class="signature">Kevin Luo</div>
      </div>
    </div>
  </div>
</section>
