<section class="cocktails" id="cocktails">
  <div class="container">
    <div class="cocktails__inner">
      <div class="cocktails__heading">
        <div class="heading-subtitle">Menu that fits you palatte</div>
        <div class="heading-title">Today’s Special</div>
      </div>
      <div class="cocktails__menu">
        <div class="drinks">
          <div class="drinks__class">Wine & Beer</div>
          <div class="drinks__item">
            <div class="drinks__name">Chapel Hill Shiraz</div>
            <div class="drinks__line"></div>
            <div class="drinks__price">$56</div>
          </div>
          <div class="drinks__size">AU | Bottle</div>
          <div class="drinks__item">
            <div class="drinks__name">Catena Malbec</div>
            <div class="drinks__line"></div>
            <div class="drinks__price">$59</div>
          </div>
          <div class="drinks__size">AR | Bottle</div>
          <div class="drinks__item">
            <div class="drinks__name">La Vieille Rosé</div>
            <div class="drinks__line"></div>
            <div class="drinks__price">$44</div>
          </div>
          <div class="drinks__size">FR | 750 ml</div>
          <div class="drinks__item">
            <div class="drinks__name">Rhino Pale Ale</div>
            <div class="drinks__line"></div>
            <div class="drinks__price">$31</div>
          </div>
          <div class="drinks__size">CA | 750 ml</div>
          <div class="drinks__item">
            <div class="drinks__name">Irish Guinness</div>
            <div class="drinks__line"></div>
            <div class="drinks__price">$26</div>
          </div>
          <div class="drinks__size">IE | 750 ml</div>
        </div>
        <div class="menu__img">
          <img src="img/cocktails.jpg" alt="cocktail">
        </div>
        <div class="drinks">
          <div class="drinks__class">Cocktails</div>
          <div class="drinks__item">
            <div class="drinks__name">Aperol Spritz</div>
            <div class="drinks__line"></div>
            <div class="drinks__price">$20</div>
          </div>
          <div class="drinks__size">Aperol | Villa Marchesi prosecco | soda | 30ml</div>
          <div class="drinks__item">
            <div class="drinks__name">Dark 'N' Stormy</div>
            <div class="drinks__line"></div>
            <div class="drinks__price">$16</div>
          </div>
          <div class="drinks__size">Dark rum | Ginger beer | Slice of lime.</div>
          <div class="drinks__item">
            <div class="drinks__name">Daiquiri</div>
            <div class="drinks__line"></div>
            <div class="drinks__price">$10</div>
          </div>
          <div class="drinks__size">Rum | Citrus juice | Sugar</div>
          <div class="drinks__item">
            <div class="drinks__name">Old Fashioned</div>
            <div class="drinks__line"></div>
            <div class="drinks__price">$31</div>
          </div>
          <div class="drinks__size">Bourbon | Brown sugar | Angostura Bitters</div>
          <div class="drinks__item">
            <div class="drinks__name">Negroni</div>
            <div class="drinks__line"></div>
            <div class="drinks__price">$26</div>
          </div>
          <div class="drinks__size">Gin | Sweet Vermouth | Campari | Orange garnish</div>
        </div>
      </div>
      <a href="#" class="btn cocktails__btn">View More</a>
    </div>
  </div>
</section>
