<section class="find-us" id="find-us">
  <div class="container">
    <div class="find-us-inner">
      <div class="info">
        <div class="subtitle">Contact</div>
        <div class="title">Find Us</div>
        <div class="adress">Lane Ends Bungalow, Whatcroft Hall Lane, Rudheath, CW9 7SG</div>
        <div class="hours">Opening Hours</div>
        <div class="time">Mon - Fri: 10:00 am - 02:00 am</div>
        <div class="time">Sat - Sun: 10:00 am - 03:00 am</div>
        <a class="btn" href="#">Visit Us</a>
      </div>
      <div class="img"><img src="img/bar_find-us_img.jpg" alt="cocktail"></div>
    </div>
  </div>
</section>
