<section class="galery galery-swiper" id="food">
  <div class="galery-container">
    <div class="galery__inner">
      <div class="galery__info info">
        <div class="info__subtitle">Instagram</div>
        <div class="info__title">Photo Gallery</div>
        <div class="info__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Volutpat mattis ipsum turpis
          elit elit scelerisque egestas mu.</div>
        <a href="#" class="btn">View More</a>
      </div>
      <div class="galery__body">
        <div class="swiper secondSwiper">
          <div class="swiper-wrapper">
            <div data-hash="slide-1" class="swiper-slide"><img class="swiper-img" src="img/galery1.jpg" alt="food">
            </div>
            <div data-hash="slide-2" class="swiper-slide"><img class="swiper-img" src="img/galery2.jpg" alt="food">
            </div>
            <div data-hash="slide-3" class="swiper-slide"><img class="swiper-img" src="img/galery3.jpg" alt="food">
            </div>
            <div data-hash="slide-4" class="swiper-slide"><img class="swiper-img" src="img/galery1.jpg" alt="food">
            </div>
            <div data-hash="slide-5" class="swiper-slide"><img class="swiper-img" src="img/galery2.jpg" alt="food">
            </div>
            <div data-hash="slide-6" class="swiper-slide"><img class="swiper-img" src="img/galery3.jpg" alt="food">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
