<section class="happy-hours" id="happy-hours">
  <div class="happy-hours-inner">
    <div class="swiper happyHoursSwiper">
      <div class="swiper-wrapper">
        <div data-hash="slide-1" class="swiper-slide">
          <img src="img/happy-hours1.jpg" alt="img">
          <div class="title">Happy Hours</div>
          <div class="time">Monday - Friday (4:00 Pm - 7:00 pm)</div>
        </div>
        <div data-hash="slide-2" class="swiper-slide">
          <img src="img/happy-hours2.jpg" alt="img">
          <div class="title">Happy Hours</div>
          <div class="time">Monday - Friday (4:00 Pm - 7:00 pm)</div>
        </div>
        <div data-hash="slide-3" class="swiper-slide">
          <img src="img/happy-hours3.jpg" alt="img">
          <div class="title">Happy Hours</div>
          <div class="time">Monday - Friday (4:00 Pm - 7:00 pm)</div>
        </div>
        <div data-hash="slide-4" class="swiper-slide">
          <img src="img/happy-hours4.jpg" alt="img">
          <div class="title">Happy Hours</div>
          <div class="time">Monday - Friday (4:00 Pm - 7:00 pm)</div>
        </div>
      </div>
    </div>

  </div>
</section>
