<header class="header header-secondary" id="header">
  <div class="container flex header__container">
    <a class="logo" href="#header">
      <img src="img/logo.svg" alt="logo">
    </a>
    <div class="header-nav" data-menu>
      <nav class="nav">
        <ul class="list-reset nav__list flex">
          <li class="nav__item"><a class="nav__link" href="index.html">Home</a></li>
          <li class="nav__item"><a class="nav__link" href="#">Pages</a></li>
          <li class="nav__item"><a class="nav__link" href="#footer">Contact Us</a></li>
          <li class="nav__item"><a class="nav__link" href="#blog">Blog</a></li>
          <li class="nav__item"><a class="nav__link" href="bar.html">Landing</a></li>
        </ul>
      </nav>
      <div class="log">
        <a class="enter" href="#">Log in / Registration</a>
        <a class="reserv" href="#reserv">Book Table</a>
      </div>
    </div>
    <button class="btn-reset burger" aria-label="Открыть меню" aria-expanded="false" data-burger>
      <span class="burger__line"></span>
    </button>
  </div>
</header>
