<section class="hero-bar" id="hero-bar">
  <div class="container">
    <div class="hero-bar-inner">
      <div class="hesh">
        <a class="hesh__bar" href="bar.html">#Bar</a>
        <a class="hesh__G" href="index.html">#Gericht</a>
      </div>
      <div class="hero-bar__swap swap">
        <div class="swiper barSwiper">
          <div class="swiper-wrapper">
            <div data-hash="slide-1" class="swiper-slide">
              <img class="swiper-slide-img" src="img/bar-header.jpg" alt="bar">
              <div class="swiper-slide-text">On the Rocks</div>
            </div>
            <div data-hash="slide-2" class="swiper-slide">
              <img class="swiper-slide-img" src="img/bar-header2.jpg" alt="bar">
              <div class="swiper-slide-text">On the Rocks</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
