<section class="newsletter">
  <div class="container">
    <div class="newsletter__inner">
      <div class="newsletter__subtitle">Newsletter</div>
      <div class="newsletter__title">Subscribe to Our Newsletter</div>
      <div class="newsletter__text">And never miss latest Updates!</div>
      <div class="input">
        <input class="email" type="email" placeholder="Email Address">
        <button class="btn btn-news" type="submit">Subscribe</button>
      </div>
    </div>
  </div>
</section>
