<section class="poison" id="poison">
  <div class="container">
    <div class="poison-inner">
      <div class="poison-inner-text">
        <div class="subtitle">Wide Range to choose from</div>
        <div class="title">What’s Your Poison?</div>
      </div>
      <div class="poison__swap swap">
        <div class="swiper poisonSwiper">
          <div class="swiper-wrapper">
            <div data-hash="slide-1" class="swiper-slide swiper-slide-beer">
              <img src="img/bar-beer1.jpg" alt="chef">
              <span class="swiper-slide-text">Beer</span>
            </div>
            <div data-hash="slide-2" class="swiper-slide swiper-slide-vine">
              <img src="img/vine.jpg" alt="chef">
              <span class="swiper-slide-text">Wine</span>
            </div>
            <div data-hash="slide-3" class="swiper-slide swiper-slide-cocktail">
              <img src="img/coctail.jpg" alt="chef">
              <span class="swiper-slide-text">Cocktail</span>
            </div>
            <div data-hash="slide-4" class="swiper-slide swiper-slide-beer">
              <img src="img/bar-beer1.jpg" alt="chef">
              <span class="swiper-slide-text">Beer</span>
            </div>
            <div data-hash="slide-5" class="swiper-slide swiper-slide-vine">
              <img src="img/vine.jpg" alt="chef">
              <span class="swiper-slide-text">Wine</span>
            </div>
            <div data-hash="slide-6" class="swiper-slide swiper-slide-cocktail">
              <img src="img/coctail.jpg" alt="chef">
              <span class="swiper-slide-text">Cocktail</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
