<section class="reservation reservation-bar" id="reservation">
  <div class="container">
    <div class="reservation__inner">
      <div class="book-table">
        <div class="book-table-title">Reservations</div>
        <div class="book-table-text">Book A Table</div>
      </div>
      <div class="data">
        <div class="option">
          <button class="option__button">1 Person</button>
          <ul class="option__list">
            <li class="option__item" data-value="1">1 Person</li>
            <li class="option__item" data-value="2">2 Persons</li>
            <li class="option__item" data-value="3">3 Persons</li>
            <li class="option__item" data-value="4">4 Persons</li>
          </ul>
        </div>
        <div class="option option-open">
          <div class="option__button">
            <input autocomplete="off" type="text" name="form[]" data-error="Ошибка" data-required placeholder="12/05/2021"
              data-calendar class="option__input">
          </div>
        </div>
        <div class="option">
          <button class="option__button">11:00 AM</button>
          <ul class="option__list">
            <li class="option__item" data-value="1">11:00 AM</li>
            <li class="option__item" data-value="2">12:00 AM</li>
            <li class="option__item" data-value="3">1:00 PM</li>
            <li class="option__item" data-value="4">2:00 PM</li>
            <li class="option__item" data-value="5">3:00 PM</li>
            <li class="option__item" data-value="6">4:00 PM</li>
            <li class="option__item" data-value="7">5:00 PM</li>
            <li class="option__item" data-value="8">6:00 PM</li>
          </ul>
        </div>
      </div>
      <button type="submit" class="btn btn-reservation">Book Now</button>
    </div>
  </div>
</section>
