<section class="testimonials" id="testimonials">
  <div class="container">
    <div class="testimonials__inner">
      <div class="subtitle">Testimony</div>
      <div class="title">Happy customers</div>
      <div class="cards cards-top">
        <div class="cards-item">
          <div class="cards-photo"><img src="img/custom1.jpg" alt="custom"></div>
          <div class="cards-info">
            <div class="cards-text">Lorem ipsum dolor sit amet, consectetur adipiscing sit. auctor sit iaculis in
              arcu. Vulputate nulla lobortis mauris eget sit. Nulla scelerisque scelerisque congue.</div>
            <div class="cards-name">Wade Warren</div>
            <div class="cards-job">Sommelier</div>
          </div>
        </div>
        <div class="cards-item">
          <div class="cards-photo"><img class="cards-photo" src="img/custom2.jpg" alt="custom"></div>
          <div class="cards-info">
            <div class="cards-text">Lorem ipsum dolor sit amet, consectetur adipiscing sit. auctor sit iaculis in
              arcu. Vulputate nulla lobortis mauris eget sit. Nulla scelerisque scelerisque congue.</div>
            <div class="cards-name">Jane Cooper</div>
            <div class="cards-job">Chef</div>
          </div>
        </div>
      </div>
      <div class="cards">
        <div class="cards-item">
          <div class="cards-photo"><img class="cards-photo" src="img/custom3.jpg" alt="custom"></div>
          <div class="cards-info">
            <div class="cards-text">Lorem ipsum dolor sit amet, consectetur adipiscing sit. auctor sit iaculis in
              arcu. Vulputate nulla lobortis mauris eget sit. Nulla scelerisque scelerisque congue.</div>
            <div class="cards-name">Robert Fox</div>
            <div class="cards-job">Chef</div>
          </div>
        </div>
        <div class="cards-item">
          <div class="cards-photo"><img class="cards-photo" src="img/custom4.jpg" alt="custom"></div>
          <div class="cards-info">
            <div class="cards-text">Lorem ipsum dolor sit amet, consectetur adipiscing sit. auctor sit iaculis in
              arcu. Vulputate nulla lobortis mauris eget sit. Nulla scelerisque scelerisque congue.</div>
            <div class="cards-name">Brooklyn Simmons</div>
            <div class="cards-job">Caterer</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
